[submodule "Panda3D"]
	path = Panda3D
	url = https://github.com/Panda3D/Panda3D
[submodule "Python"]
	path = Python
	url = https://github.com/python/cpython
[submodule "android-ursina"]
	path = android-ursina
	url = https://github.com/pokepetter/ursina
